# Dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional cache
.cache/
.parcel-cache/

# Testing
cypress/videos/
cypress/screenshots/